.application_container button.model_add_button {
	position: fixed;
	top: 72px;
	right: 200px;
	z-index: 2001;
}

div.list_view {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: auto;
	width: 100%;
	position: absolute;
	top: 110px;
}

div.list_view ul {
	list-style-type: none;	
	margin: 0;
	padding: 0;
}

div.list_view ul li {
	line-height: 32px;
	height: 42px;
	vertical-align: middle;
	overflow: auto;
	position: relative;
	display: block;
}
div.list_view li div.list_item_column {
	padding: 5px 10px;
	position: absolute;
}

div.list_view li.list_header {
	color: white;
	background-color: #ab9d83;
	font-size: 12px;
	height: 32px;
	border-bottom: 1px solid #807563;
	position: fixed;
	top: 126px;
	right: 16px;
	left: 196px;
	z-index:1000;
}
div.list_view li.oddrow {
	background-color: #f2edda;
}
div.list_view li.evenrow {
	background-color: #ffffff;
}

div.list_view li.list_header div.list_item_column {
	padding: 0 10px;
	margin: 0;
	height: 32px;
	line-height: 32px;
	vertical-align:middle;
}

div.list_view li div.trip_name {
	left: 0;
}
div.list_view li div.trip_dates {
	left: 33%;
	top: 0;
}
div.list_view li div.trip_destination {
	left: 66%;
}


#trip_organizer div.trip_list_container > h1 {
	position: fixed;
	top: 50px;
	left: 196px;
	right: 16px;
	margin: 0px;
	padding: 0px;
	height: 75px;
	line-height: 75px;
	background-color: #ffffff;
	z-index: 2000;
}

div.list_view li div.list_item_controls {
	display: none;
}

div.list_view li.highlight div.list_item_controls {
	display: block;
	position: absolute;
	right: 20px;
}

/*
 * Trip Detail View
 */
#trip_organizer div.application_container > h1 {
	position: fixed;
	top: 50px;
	left: 196px;
	right: 16px;
	margin: 0px;
	padding: 0px;
	height: 50px;
	line-height: 50px;
	background-color: #ffffff;
	z-index: 2000;
}

h3 {
	color: #4f4f4f;
	font-weight: normal;
	border-bottom: 1px dashed #4f4f4f;
	padding: 0 0 5px 0;
}

.application_container input.trip_title {
	position: fixed;
	left: 196px;
	z-index: 9999;
	top: 50px;
	padding:0;
	margin:0;
	font-weight: normal;
	background: transparent;
	font-size: 1.8em;
}

.highlight {
	background-color: #F2EDDA !important;
}

div.trip_dates {
	position: absolute;
	top: 50px;
	left: 25px;
	font-size: 1.1em;
}

.trip_dates input {
	border: none;
	background-color: transparent;
	font-size: 1.1em;
}

.trip_description {
	width: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
	min-height: 100px;
	background-color: transparent;
	font-family: Arial,sans-serif;
}
.trip_description p {
	padding: 2px;
}

div.friends_section {
}
div.friends_section h3 {
	color: #4f4f4f;
	font-weight: normal;
	border-bottom: 1px dashed #4f4f4f;
	padding: 0 0 5px 0;
	height: 49px;
	margin: 0;
}
div.trip_friend {
	height: 32px;
	padding: 5px 0;
	line-height: 32px;
}

div.trip_discussion h4 {
	font-size: .8em;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align:right;
}
div.trip_discussion h3 {
	font-size: 1.3em;
}
div.trip_discussion  {
	font-size: .9em;
}

div.trip_comment,
div.trip_activity {
	padding: 4px;
	border-radius: 4px;
	background-color: #e6e6e6;
	margin: 10px 0;
}

div.trip_activity span.happened_on {
	font-style: italic;
	font-size: .85em;
}

div.trip_discussion div.odd,
div.trip_activities div.odd {
	background-color: #f9f9f9;
}


div.discussion_controls textarea {
	display:block;
	width: 98%;
	height: 75px;
	background-color: #f9f9f9;
	border-radius: 4px;
}

div.friends_section > button.add_person {
	position: absolute;
	right: 10px;
	top: 24px;
	margin: 0;
	padding: 0;
}

div.add_person_dialog  {
	width: 500px;
}

div.form_row input[name="name"] {
	width: 215px;
	margin: 2px 2px 2px 0;
}
div.form_row input[name="email"] {
	width: 220px;
	margin: 2px 2px 2px 0;
}

div.form_row span.name {
	display: table-cell;
	width: 225px;	
}
div.form_row span.email {
	display: table-cell;
	width: 220px;	
}

#trip_organizer_tabs {
	position: absolute;
	top: 100px;
	left: 20px;
	right: 20px;
	bottom: 0px;
	background-color: transparent;
	background-image: none;
	border: none;
}
#trip_organizer_tabs > ul {
	border: none;
	background-color: transparent;
	background-image: none;
}
#trip_organizer_tabs > ul li {
	background-color: transparent;
	border-radius: 4px;
}

#trip_personal_gear {
	position: absolute;
	top: 47px;
	left: 0px;
	right: 51%;
	bottom: 10px;
}

#trip_group_gear,
#add_personal_gear {
	position: absolute;
	top: 47px;
	left: 51%;
	right: 0px;
	bottom: 10px;
}
#add_personal_gear { display: none; }

#gear_tab > div > ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
#gear_tab > div > ul li {
	display: block;
	position: relative;
	line-height: 32px;
	height: 32px;
	padding: 1px;
}
#gear_tab > div > ul li.highlight {
	padding: 0;
	border: 1px solid #212121;
	border-radius: 4px;
}

#gear_tab > div > ul li div.gear_controls {
	position: absolute;
	right: 0px;
	top: 5px;
	display: none;
}
#gear_tab > div > ul li.highlight div.gear_controls {
	position: absolute;
	right: 0px;
	top: 5px;
	display:block;
}

#add_personal_gear > ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
#add_personal_gear > ul li {
	display: block;
	position: relative;
	line-height: 32px;
	height: 32px;
	padding: 1px;
}
#add_personal_gear > ul li.highlight {
	padding: 0;
	border: 1px solid #212121;
	border-radius: 4px;
}
#add_personal_gear p {
	font-style: italic;
}

#trip_personal_gear > button {
	position: absolute;
	top: 15px;
	right: 5px;
}

li.odd {
	background-color: #e4e4e4;
}
li.dragging {
	padding: 0;
	border: 1px solid #212121;
	border-radius: 4px;
	background-color: #F2EDDA !important;
}

#add_personal_gear .inventory_controls {
	position: absolute;
	top: 15px;
	right: 5px;
}

div.route_overview_section {
}

#drophere {
	position: absolute;
	right: 20px;
	left: 40%;
	height: 350px;
	top: 60px;
}
#route_map {
	position: absolute;
	right: 20px;
	left: 40%;
	height: 350px;
	top: 90px;
}

#route_beta dl dt {
	font-weight: bold;
	margin: 5px auto;
}

#route_beta dl dt {
	margin: 5px auto;
}

span.invite_status {
	font-size: .7em;
	color: #717171;
}

div.templates {
	display: none;
}

div.list_view li div.gear_name {
	left: 0;
}
div.list_view li div.gear_weight {
	left: 33%;
	top: 0;
}
div.list_view li div.gear_description {
	left: 66%;
}

#app_chooser_buttons .app_chooser_button,
#app_chooser_buttons .app_chooser_button a {
	margin: 5px 0;
	padding: 0 0px 0 0px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	display: block;
	text-decoration: none;
	color: black;
}
#app_chooser_buttons .app_chooser_button a:hover {
	text-decoration: none;
	color: black;
}

#app_chooser_buttons div.gear64 {
	background: url('/static/img/icons/gear64.png') no-repeat left center;
}

#app_chooser_buttons div.trips64 {
	background: url('/static/img/icons/trips64.png') no-repeat left center;
}

div.login_registration {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9011;
    background-color: transparent;
}

#splash_screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9010;
    background-color: white;
}
