
.page_center {
	display: block;
	margin: 0 auto;
	width: 915px;
	padding: 0;
}

body > header {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
	height: 41px;
	background-color: #ff6633;
}


#main {
	margin: 0 auto;
	width: 915px;
	display: table;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#main_body, #left_column, #sidebar {
	display: table-cell;
	vertical-align: top;
	padding: 12px 0 0 0;
	margin: 0;
}

#main_body {
	width: 510px;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	background-color: #f3f3f3;
	padding: 19px;
}

#main_body > section {
	border: 1px solid #999999;
	height: 300px;
	background-color: #ffffff;
}

header > h1 {
	color: #ff6633;
	font-size: 17px;
	font-weight: bold;
}

#left_column {
	width: 179px;
	display:block;
	overflow: hidden;
}

#profile_name {
	position: relative;
	margin: 24px 0px;
	background-image: url("/static/img/profile_image_border_v1.png");
	background-repeat: no-repeat;
	background-position: 8px 0px;
	height: 42px;
}

#profile_image {
	position: absolute;
	left: 12px;
	top: 4px;
}

#profile_name_text {
	position: absolute;
	left: 60px;
	height: 42px;
}

#sub_app_navigation ul li {
	display: inline-block;
	font-size: 13px;
}

nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	height: 20px;
	padding: 0px;
	margin: 0px;	
}
nav ul li a,
nav ul li a:active,
nav ul li a:visited {
	padding-left: 31px;
	height: 20px;
	width: 132px;
	background-repeat: no-repeat;
	background-position: 5px 0px;
	display: block;
	text-decoration: none;
	color: #333333;
}
nav ul li a:hover {
	background-color: #fff2d7;
	color: #333333;
}

#main_navigation {
	padding: 0 0 10px 0;
	border-bottom: 1px solid #cccccc;
}
#outside_navigation {
	padding: 10px 0 0 0;
}
#app_navigation,
#site_navigation {
	margin: 0 8px;
	padding: 0;
}

li.gear64 a {
	background-image: url("/static/img/gear_icon_small.png");
}
li.trips64 a {
	background-image: url("/static/img/trips_icon_small.png");
}
li.basecamp a {
	background-image: url("/static/img/basecamp_icon_small.png");
}
li.tutorials a {
	background-image: url("/static/img/tutorials_icon_small.png");
}
li.forums a {
	background-image: url("/static/img/forums_icon_small.png");
}
li.feedback a {
	background-image: url("/static/img/feedback_icon_small.png");
}
