body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}
div {
	padding: 0;
	margin: 0;
}

#topbar {
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 0;
	margin: 0;
	background-color: rgb(89,76,60);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.39, rgb(89,76,60)),
		color-stop(1, rgb(4,3,1))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(89,76,60) 79%,
		rgb(4,3,1) 100%
	);
	z-index: 9999;
}

#topbar img {
	position: absolute;
	left: 19px;
	top: 18px;
}

#leftbar {
	position: fixed;
	height: 100%;
	width: 100px;
	top: 0px;
	left: 0px;
	padding: 0;
	margin: 0;
	background-color: rgb(89,76,60);
	z-index: 9998;
}

#app_chooser_buttons {
	position: fixed;
	bottom: 0px;
}

#appcontent {
	position: absolute;
	left: 100px;
	right: 0px;
	top: 80px;
	padding: 0;
	background-color: #f1f1f1;
	z-index: 9997;
}

#add_gear_splash {
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px; 
	border: 1px solid black;
	height: 100px;
	width: 100px;
}

#app_chooser_buttons div.app_chooser_button {
	padding: 0;
	margin: 0;
	width: 98px;
	height: 98px;
	line-height: 98px;
	vertical-align: middle;
	text-align: center;
}
#app_chooser_buttons div.app_chooser_button img {
	width: 98px;
	height: 98px;
}


div.gear_list_view_container {
	width: 100%;
}

div.gear_listing {
	border: 0;
	padding: 0;
	margin: 148px 0 0 0;
	overflow: auto;
	width: 100%;
}

div.gear_listing ul {
	list-style-type: none;	
	margin: 0;
	padding: 0;
}

div.gear_listing ul li {
	line-height: 30px;
	vertical-align: middle;
	overflow: auto;
	position: relative;
}
div.gear_listing li div.gear_item_list_column {
	padding: 5px 10px;
	float: left;
}

div.gear_listing li div.gear_name {
	width: 200px;
}
div.gear_listing li div.gear_weight {
	width: 50px;
}
div.gear_listing li div.gear_description {
	width: 300px;
}
div.gear_listing li.gear_list_header {
	color: white;
	background-color: #ab9d83;
	font-size: 12px;
	height: 32px;
	border-bottom: 1px solid #807563;
	position: fixed;
	top: 196px;
	right: 0px;
	left: 100px;
	z-index:9000;
}
div.gear_listing li.gear_list_header div.gear_item_list_column {
	padding: 0 10px;
	margin: 0;
	height: 32px;
	line-height: 32px;
	vertical-align:middle;
}
div.gear_listing li.oddrow {
	background-color: #f2edda;
}
div.gear_listing li.evenrow {
	background-color: #ffffff;
}

div.gear_list_view_controls {
	top: 80px;
	left: 100px;
	right: 0px;
	position: fixed;
	z-index: 9998;
	margin: 0 0 0 0;
	background-color: #fff;
	min-height: 116px;
}

div.gear_list_search_box_container {
	position: absolute;
	right: 20px;
	top: 25px;
	height: 66px;
	width: 229px;
	background-image: url("/static/img/search-box.jpg");
}
div.gear_list_search_box_container input {
	position: relative;
	left: 10px;
	top: 8px;
	border: 0;
	background-color: transparent;
	width: 170px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: right;
}

div.gear_list_add_button {
	position: absolute;
	right: 260px;
	top: 25px;
}

div.application_container {
	position: absolute;
	width: 100%;
}

div.application_container h1 {
	position: fixed;
	left: 120px;
	z-index: 9999;
	top: 110px;
	padding:0;
	margin:0;
	font-weight: normal;
}
div.gear_list_add_form {
	background-color: #fff;
	border-bottom: 3px groove #807563;
	height: 142px;
}

div.gear_list_view_controls div.gear_list_add_form {
	position: relative;
	top: 116px;
	background-color: #fff;
	border-bottom: 3px groove #807563;
	height: 142px;
}

div.gear_list_add_form div.save {
	position: absolute;
	right: 180px;
	bottom: 20px;
}

div.gear_list_add_form div.add_gear_name,
div.gear_list_add_form div.add_gear_description {
	position: absolute;
	right: 380px;
	left: 0px;
	height: 34px;
}
div.gear_list_add_form div.add_gear_name {
	top: 0px;
}
div.gear_list_add_form div.add_gear_name div input {
	width:100%;
}
div.gear_list_add_form div div {
	display:block;
	position: absolute;
	right: 0;
	top: 0;
	left: 125px;
	width: auto;
}
div.gear_list_add_form div.add_gear_description {
	top: 44px;
	vertical-align:top;
}
div.gear_list_add_form div.add_gear_weight {
	position: absolute;
	right: 180px;
	height: 34px;
	width: 174px;
}
div.gear_list_add_form div.add_gear_weight input {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
}

input, textarea {
	border: 2px solid #d7cfc4;
}
input {
	height: 30px;
}

div.gear_list_add_form div.cancel {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

div.gear_list_management_buttons {
	float: right;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

div.gear_listing li.highlighted_row,
div.gear_listing li.highlighted_row div {
	background-color: #ffe991;
}

div.gear_listing li div.gear_list_add_form {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 8999;
}

div.gear_listing li div.gear_item_row {
	height: 40px;
	z-index: 9999;
}

