<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	lang="en">
<head>
	<!-- need html5 shiv here -->
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>Backcountry Tracks&trade; Trip Planner</title>
	<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui/jquery-ui-1.8.18.custom.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />	
	<link rel="stylesheet" type="text/css" href="/static/css/typography.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/structure.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% for stylesheet in stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/css/{{ stylesheet }}" />
    {% endfor %}

</head>
<body id="" >
	<header>
		<div class="page_center">
			Page Header Goes Here
		</div>
	</header>
	<div id="main">
		<div id="left_column">
			<img src="/static/img/app_logo_v1.png" alt="Backcountry Tracks&trade;" title="Backcountry Tracks&trade;"/>
			<div id="profile_name">
				<img id="profile_image" src="/static/img/person_icon.png" width="34" height="34" alt="profile picure" />
				<div id="profile_name_text">Profile Name</div>
			</div>
			<nav id="main_navigation">
				<ul id="app_navigation">
					<li class="basecamp"><a href="#">basecamp</a></li>
				</ul>
			</nav>
			<nav id="outside_navigation">
				<ul id="site_navigation">
					<li class="tutorials"><a href="http://www.backcountrytracks.com/tutorials" title="Backcountry Tracks Tutorials" target="tutorials">tutorials</a></li>
					<li class="forums"><a href="http://www.backcountrytracks.com/forums" title="Backcountry Tracks Forums" target="forums">forums</a></li>
					<li class="feedback"><a href="http://www.backcountrytracks.com/feedback" title="Backcountry Tracks Application Feedback" target="feedback">provide feedback</a></li>
				</ul>
			</nav>
		</div>
		<div id="main_body">
		</div>
		<aside id="sidebar">
			Tips and tricks and ads go here
		</aside>
	</div>
	<footer>Page footer goes here</footer>

	<div id="splash_screen"></div>

	<script id="add_chooser_button_template" type="text/template+html">
		<li><a href="#{{ path }}">{{ name }}</a></li>
	</script>


    {% for template in templates %}
    {{ template|safe }}
    {% endfor %}

    <script type="text/javascript" src="/static/js/lib/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/pretty.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.filedrop.js"></script>
    <script type="text/javascript" src="/static/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone.js"></script>
	<script type="text/javascript" src="/static/js/backcountrytracks.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAwFXMH2UyoLTdM7c5UzcbSTiLjr62KCic&sensor=false"></script>


    {% for javascript_file in javascript_files %}
    <script type="text/javascript" src="{{ javascript_file }}"></script>
    {% endfor %}

    <script type="text/javascript">
        BackcountryTracks.initialize();
    </script>
</body>
</html>
