<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<meta name="title" content="Backcountry Tracks"/>
	<title>Backcountry Tracks&trade; Trip Planner</title>

	<link rel="icon" type="image/ico" href="favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="/static/c/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="/static/c/default.css"/>
	<link rel="stylesheet" type="text/css" href="/static/c/Aristo/Aristo.css"/>

    {% for stylesheet in stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/css/{{ stylesheet }}" />
    {% endfor %}

</head>
<body id="" >
	<div id="header">
		<div id="header-content">
			<h1><span>Backcountry Tracks</span></h1>
		</div>
	</div>
	<div id="sidebar">
		<div id="app_chooser_buttons"></div>
		<div id="sidebar-nav">
			<ul>
				<li><img src="/static/i/icons/plus_8x8_off.png" height="8" width="8" alt="" />New</li>
				<li><img src="/static/i/icons/cog_alt_8x8_off.png" height="8" width="8" alt="" />Options</li>
			</ul>
		</div>
	</div>
	<div id="main">

	</div>
	<!-- /MAIN -->

	<div id="header-logo">
		<img src="/static/i/header_logo.png" width="180" height="57" alt="bct logo">
	</div>

	<div id="splash_screen"></div>


    {% for template in templates %}
    {{ template|safe }}
    {% endfor %}

    <script type="text/javascript" src="/static/js/lib/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone.js"></script>
	<script type="text/javascript" src="/static/js/backcountrytracks.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAwFXMH2UyoLTdM7c5UzcbSTiLjr62KCic&sensor=false"></script>


    {% for javascript_file in javascript_files %}
    <script type="text/javascript" src="{{ javascript_file }}"></script>
    {% endfor %}

    <script type="text/javascript">
        BackcountryTracks.initialize();
    </script>
</body>
</html>
